html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("images/abstract.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}

.navyblue {
  background-color: #353b50;
}

.darknavyblue{
  background-color: #192024;
}

.white-text{
  color: #ffffff;
}

.center{
  text-align: center;
}
